<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Movies. Looky Looky Naw! YeeeeeeeHahhh!</h1>
    <p> Stuff, it happens. it's going on everywhere. Sometimes, you don't even know about it. Contemplating mankind, deep. Philosophy, it's about thinking and stuff. Cowtipping, almost like sci-fi. AI, skynet, it's happening right now. WE are doomed, but the earth is not. Hubris, earth will clean itself, America!</p>
    <p><%= link_to "Sign Up to write stuff about movies", new_user_registration_path, class: "btn btn-primary btn-lrg" %></p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>
